
<% @results.each do |result| %>

<div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
<p><%= result.sensorloc %><br>
  
Location: <%= result.latitude %>,  <%= result.longitude %><br>

</p>
</div>


<% end %>