
<% @results.each do |r| %>
<% result = r[1] %>

<div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
<p><%= result.name %> - <%= result.average %><br>
  
Location: <%= result.lat %>,  <%= result.long  %><br>

</p>
</div>


<% end %>