<div id="map"></div>
    <script>

      function initMap() {

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: {lat: -37.819, lng:144.968 }
        });

        // Create an array of alphabetical characters used to label the markers.
        var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

        // Add some markers to the map.
        // Note: The code uses the JavaScript Array.prototype.map() method to
        // create an array of markers based on a given "locations" array.
        // The map() method here has nothing to do with the Google Maps API.
        // var markers = locations.map(function(location, i) {
        //   return new google.maps.Marker({
        //     position: location,
        //     // label: labels[i % labels.length]
        //   });
        // });

        


        // Add a marker clusterer to manage the markers.
        // var markerCluster = new MarkerClusterer(map, markers,
        //     {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});

      var markers = [
        <% @results.each do |r| %>
        <% result = r[1] %>
        new google.maps.Marker({
            position: {lat: <%= result.lat %>, lng: <%= result.long %>},
            icon: "http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2%7C<%= result.color %>"
            // label: labels[i % labels.length]
          }), 
        <% end %>
      ]

      markers.forEach(function(marker){
          marker.setMap(map);
      })
      }

    </script>
    <!-- <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"> -->
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARaNvhtNzV1w4FivxQm6WHvydAy26zYPI&callback=initMap">
    </script>